body::-webkit-scrollbar{
    display: none;
}
#sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% of the viewport height */
    position: sticky;
    top: 0;
}
#table-container {
    margin-bottom: 50px;
}
a.link-dark {
  color: inherit;
  text-decoration: none;
}
nav-item:hover{
transform: translateY(-10px);
}
.nav-link {
color: inherit;
text-decoration: none;
padding: 10px 15px;
transition: font-size 0.2s, color 0.2s, border-bottom 0.2s;
border-bottom: 1px solid transparent;
}

.nav-link:hover {
font-size: 18px;
color: #FFA500;
border-bottom: 1px solid #FFF6E0;
}